* {
  min-height: 0;
  min-width: 0;
  font-family: "BlexMono Nerd Font";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  background-color: #1a1b26;
  /*opacity: 0.9;*/
  /* background-color: rgba(24, 24, 37, 0.6); */
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: #1e1e2e;
  color: #c0caf5;
}

#workspaces button:hover {
  color: #1e1e2e;
  background-color: #c0caf5;
}

#workspaces button.active {
  background-color: #1e1e2e;
  color: #7aa2f7;
}

#workspaces button.urgent {
  background-color: #1e1e2e;
  color: #f7768e;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#battery,
#window,
#custom-wl-gammarelay-brightness,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: #1e1e2e;
}

#mpris.playing {
  color: #73daca;
}

#mpris.paused {
  color: #f7768e;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #9ece6a;
}

#memory {
  color: #bb9af7;
}

#clock {
  color: #7dcfff;
}

#clock.simpleclock {
  color: #7aa2f7;
}

#window {
  color: #c0caf5;
}

#pulseaudio {
  color: #7aa2f7;
}

#pulseaudio.muted {
  color: #f7768e;
}

#custom-logo {
  color: #7aa2f7;
}

#custom-power {
  color: #f7768e;
}

#battery {
  color: #9ece6a;
}

#battery.warning {
  color: #e0af68;
}

#battery.critical {
  color: #f7768e;
}

#custom-wl-gammarelay-brightness {
  color: #c0caf5;
}

#custom tooltip {
  background-color: #181825;
  border: 2px solid #7aa2f7;
}
